---
import ProjectImage from "@/components/ProjectImage.astro";
import { ProjectText, type TextItem } from "@/components/ProjectText";
import { Image } from "astro:assets";
import ImagePhoto from "@/assets/images/website-portfolio-photography.png";
import ImageDev from "@/assets/images/website-portfolio-developer.png";
import ImageFit from "@/assets/images/website-landingpage-personal-coach.png";
import ImageCreative from "@/assets/images/website-landingpage-media-designer.png";

type ProjectData = {
	text: TextItem;
	image: {
		file: ImageMetadata;
		alt: string;
	};
};

const projectsData: ProjectData[] = [
	{
		text: {
			title: "Portfolio: Fotografie",
			copy: "Eine Website, die meine Tätigkeit als Fotograf übersichtlich darstellt. Einfache Nutzerführung und ein exklusiver Kunden-Login.",
			website: "https://pascal.photos",
			usedStack: ["sveltekit", "typescript", "tailwindcss"],
		},
		image: {
			file: ImagePhoto,
			alt: "",
		},
	},
	{
		text: {
			title: "Portfolio: Entwicklung",
			copy: "Willkommen in meiner Welt des Codes! Diese Website betrachtest du bereits. Wahlweise im Light- oder Dark-Mode.",
			website: "https://schaar.dev",
			github: "https://github.com/scarlachs/dev-portfolio-astro",
			usedStack: [
				"astro",
				"react",
				"typescript",
				"tailwindcss",
				"shadcn",
			],
		},
		image: {
			file: ImageDev,
			alt: "",
		},
	},
	{
		text: {
			title: "Landingpage: Personal Trainer",
			copy: "Ganzheitliches Training für ein positives Lebensgefühl. Im individuellen 1:1 Personal Coaching für Körper und Geist.",
			website: "https://marcel.fit",
			usedStack: [
				"nextjs",
				"react",
				"typescript",
				"tailwindcss",
				"shadcn",
			],
		},
		image: {
			file: ImageFit,
			alt: "",
		},
	},
	{
		text: {
			title: "Landingpage: Mediendesigner",
			copy: "",
			website: "https://www.creativestudio-lb.de",
			usedStack: ["sveltekit", "typescript", "tailwindcss", "storyblok"],
		},
		image: {
			file: ImageCreative,
			alt: "",
		},
	},
];
---

<section class="container mb-16 scroll-mt-20 md:mb-24" id="projects">
	{
		projectsData.map((project, i) => {
			return (
				<div class="mb-16 grid gap-5 last:mb-0 md:mb-24 md:grid-cols-2 md:items-center md:gap-10">
					<ProjectText data={project.text} index={i} />
					<ProjectImage index={i}>
						<Image
							src={project.image.file}
							alt={project.image.alt}
							widths={[343, 686, 1296]}
							sizes={
								"(max-width: 639.98px) calc(100vw - 2rem), (max-width: 767.98px) 576px, (max-width: 1023.98px) 332px, (max-width: 1279.98px) 460px, (max-width: 1399.98px) 588px, 648px"
							}
							loading={i === 0 ? "eager" : "lazy"}
						/>
					</ProjectImage>
				</div>
			);
		})
	}
</section>
